{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti expedita ipsam rem eius totam et repudiandae, consequuntur ab sint possimus laudantium nesciunt nulla. Accusantium, nesciunt corporis. Ut aperiam possimus quisquam magni, culpa quae recusandae veniam modi sunt deleniti nihil optio quia, tenetur aspernatur distinctio beatae consequuntur ex perferendis sint quam laboriosam minima ab facere. Fugiat tempore rem quo ipsam et reprehenderit voluptatum recusandae deleniti consectetur cupiditate incidunt voluptas provident expedita iure veritatis, maxime tenetur architecto beatae optio! Quis, ut sapiente consectetur asperiores eius impedit harum. Nulla accusamus architecto nobis corrupti eveniet, vel eius quam rerum dicta culpa quae consequuntur praesentium!</p>
        
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">Signin</a>
            <a class="btn btn-dark" href="/signup/">Signup</a>
        </div>
        
    </section>

</main>

{% endblock %}
